/Debug
/.vs/tcnotifier/v14/.suo
/*.opensdf
/*.sdf
/tcconn/Debug
/tcmdl/Debug
/ipch/NETMDL-a49f49c8/NETMDL-54052650.ipch
/ipch/TCCONN-57376c26/TCCONN-8458c8f1.ipch
/tcconn/netmdl_contract_i.c
/tcconn/netmdl_contract_i.h
/tcconn/netmdl_contract_i_p.c
/tcconn/objmdl_contract_i.c
/tcconn/objmdl_contract_i.h
/tcconn/objmdl_contract_i_p.c
/tcconn/tcconn_contract_i.c
/tcconn/tcconn_contract_i.h
/tcconn/tcconn_contract_i_p.c
/ipch/OBJMDL-c5031f0/*.ipch
/tcmdl/dlldata.c
/ipch/TCMDL-e7a93ba4/TCMDL-58864a00.ipch
/tcmdl/asyncmdl_contract_i.c
/tcmdl/asyncmdl_contract_i.h
/tcmdl/asyncmdl_contract_i_p.c
/tcmdl/objmdl_contract_i.c
/tcmdl/objmdl_contract_i.h
/tcmdl/objmdl_contract_i_p.c
/tcmdl/tcconn_contract_i.c
/tcmdl/tcconn_contract_i.h
/tcmdl/tcconn_contract_i_p.c
/tcmdl/tcmdl_p.c
/tcmdl/viewmdl_contract_i.c
/tcmdl/viewmdl_contract_i.h
/tcmdl/viewmdl_contract_i_p.c
